#Eclipse
target/*
.settings
.classpath
.project
.springBeans

/target

#Idea
.iml
.idea

# IntelliJ
.idea
*.iml

# Maven release plugin
*.releaseBackup
release.properties

# AppEngine Local Datastore
local_db.bin